body {

    /* color de fondo de toda la pagina */
    background-color: #E9E7EE;

}

main {

    /* centrado de contenido del main */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.logo {

    /* tamaño y margenes del logo */
    margin: 24px 0 0 16px;
    width: 375px;

}

.alura {
    width: 32px;
    height: 48px;
}

.muñeco {

    /* no mostrar el muñeco */
    display: none;

}

.imgMuñeco {
    /* tamaño del muñeco */
    width: 336px;
    height: 304px;
}

.textoIngresado textarea {

    /* estilos del texto ingresado */
    color: #241E8E;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;

    /* modificacion de estilos del textarea */
    background-color: #E9E7EE;
    width: 343px;
    padding: 0;
    margin: 80px 16px 0 16px;
    border: 0px;
    outline: 0px;
    resize: none;
    cursor: pointer;

}


.textoIngresado ::placeholder {

    /* estilos del texto ayuda del textarea */
    color: #241E8E;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;

}

.exclamacion {

    /* estilos de la exclamacion */
    font-size: 16px;
    color: white;
    background-color: #231668;
    text-align: center;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin: 0 7px 0 0;
}

.minusculasSinAcentoYexclamacion {
    /* margenes y alineacion de contenido del div */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 65px 7px 18px 16px;
    width: 229px;
    height: 18px;
}

.minusculasSinAcento {

    /* estilos del texto de advertencia*/
    font-family: 'Inter';
    color: #35209D;
    font-size: 12px;
}

.botones {

    /* margenen y tamañoo del div */
    margin: 0 16px;
    width: 343px;
}

.botones .A {

    /* estilos de texto del boton */
    font-family: 'Inter';
    text-align: center;
    color: #E5E4F9;

    /* estilos del boton */
    padding: 24px;
    width: 100%;
    height: 67px;
    margin: 0 0 24px 0;
    background: #241E8E;
    border: 1px solid #241E8E;
    border-radius: 24px;
    cursor: pointer;

}

.botones .B {

    /* estilos de texto del boton */
    font-family: 'Inter';
    text-align: center;
    color: #241E8E;

    /* estilos del boton */
    width: 100%;
    height: 67px;
    padding: 24px;
    background: #E5E4F9;
    border: 1px solid #241E8E;
    border-radius: 24px;
    cursor: pointer;

}

.boxTextoMomentaneo {

    /* alineacion del texto dentroo del div */
    text-align: center;
}

.boxTextoMomentaneo .titulo {

    /* estilos del titulo momentaneo */
    color: #231668;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

}

.boxTextoMomentaneo .parrafo {

    /* estilos del titulo momentaneo */
    color: #35209D;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-top: 16px;

}

.boxTextoSalida {

    /* estilos del del div */
    padding: 32px;
    width: 327px;
    margin: 64px 24px 40px;
    background-color: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.6);
    border-radius: 32px;
    box-sizing: border-box;
}

.boxTextoEncriptado {

    /* ocultar div */
    display: none;

}

.boxTextoDesencriptado {

    /* ocultar div */
    display: none;

}

.salida {

    /* estilos del texto de salida */
    color: #382FD3;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    box-sizing: border-box;
}

.botonCopiar {

    /* estilos de texto del boton */
    font-family: 'Inter';
    text-align: center;
    color: #241E8E;

    /* estilos del boton */
    display: none;
    width: 263px;
    height: 67px;
    background: white;
    border: 1px solid #241E8E;
    border-radius: 24px;
    margin-top: 32px;
    cursor: pointer;

}

@media (min-width: 768px) {

    /* modificaciones para la version tablet */
    .logo {
        margin: 73.42px 0 0 40px;
    }

    .textoIngresado textarea {
        width: 688px;
        margin: 80px 40px 196px 40px;
        font-size: 32px;
    }

    .textoIngresado ::placeholder {
        font-size: 32px;
    }

    .minusculasSinAcentoYexclamacion {
        margin: 65px 8px 18px 40px;
    }

    .botones {
        width: 688px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 40px;
    }

    .botones .A {
        width: 332px;
        margin: 0 24px 0 0;
    }

    .botones .B {
        width: 332px;
    }

    .boxTextoSalida {
        width: 688px;
        margin: 64px 40px 40px 40px;
    }

    .botonCopiar {
        width: 624px;
    }
}

@media (min-width: 1440px) {

    /* modificaciones para la version desktop */
    main {
        display: flex;
        justify-content: center;
    }

    .contenedor {
        width: 1000px;
        margin: 0;
        display: inline-block;
    }

    .logo {
        width: 1000px;
        margin: 40px 0 0 84px;
    }

    .textoIngresado textarea {
        width: 577px;
        margin: 80px 183px 228px 240px;
        font-size: 32px;
    }

    .textoIngresado ::placeholder {
        font-size: 32px;
    }

    .minusculasSinAcentoYexclamacion {
        margin: 65px 8px 18px 240px;
    }

    .botones {
        width: 680px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 80px 0 240px;
    }

    .botones .A {
        width: 328px;
        margin: 0 24px 0 0;
    }

    .botones .B {
        width: 328px;
    }

    .muñeco {
        margin: 156px 0 32px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .boxTextoSalida {
        width: 400px;
        height: 857px;
        margin: 40px 40px 40px 0;
        display: inline-block;
        vertical-align: top;
        position: relative;
    }

    .boxTextoEncriptado {
        height: 694px;
    }

    .boxTextoDesencriptado {
        height: 694px;
    }

    .botonCopiar {
        padding: 0;
        width: 336px;
    }
}